<div class="well">
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="SearchText">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
        <div class="col-lg-3">
            <select class="form-control" ng-model="CoommentType" >
                <option value="">-----------</option>

            </select>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <select class="form-control" ng-model="SelectUser" >
                    <option value="-1">-----------</option>
                    <option ng-repeat="user in users" value="{{user.ID}}" >{{user.FirstName}} {{user.SecondName}}</option>
                </select>

                <span style="padding: 0px" class="input-group-addon" >
                    <img class="img-rounded" style="max-height:25px" ng-src="{{users[SelectUser].Gravatar | FilterSearchSystemUserImage}}">
                </span>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div><br>

    <div ng-model="activeTab" bs-tabs="tabs" ng-init="SetActiveTabs()"></div>
</div>

