<div class="">

    <div ng-repeat="item in sprints" ng-init="ViewSprint=0" >
        <div class="{{item.TaskWeight | TasksWeightTypes}}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-1" >
                        <button class="btn btn-default btn-sm" ng-click="ViewSprint=!ViewSprint; GetCommentByTask(item.ID,ViewSprint);GetUsersInGroupByTask(item.ID)">
                            <span class="{{ViewSprint | ViewTargetList}}"></span>
                        </button>
                    </div>
                    <div class="col-lg-3">
                        {{item.Name}}
                    </div>

                    <div class="col-lg-2">

                        <div class="row">
                            <div class="col-lg-3">
                                <img class="img-rounded" style="max-width:25px " ng-src="{{item.Gravatar}}">
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <strong>{{Page.Tasks.Author}}:</strong>
                                </div>
                                <div class="row">
                                    {{item.FirstName}}
                                    {{item.LastName}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-5"></div>
                </div>
            </div>
            <div class="panel-body" ng-show="ViewSprint">
                <div class="row">
                    <div class="col-lg-4">

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <select class="form-control" ng-model="SelectUser" >
                                        <option value="">{{Page.Sprints.SelectUser}}</option>
                                        <option ng-repeat="user in users" value="{{user.ID}}">{{user.LastName}} {{user.FirstName}} {{user.MiddleName}}</option>
                                    </select>
                                    <span class="input-group-btn" >
                                       <button class="btn {{SelectUser|FilterSprintsSelectUserColor}}  {{SelectUser| FilterSprintsSelectUser}}" ng-click="SetShooterForTask(item,SelectUser)" data-trigger="hover" data-type="success" data-title="{{Page.Sprints.AssignTheTask}}" bs-tooltip>
                                         <span class="glyphicon glyphicon-user"></span>
                                       </button>
                                    </span>
                                </div>

                           </div>
                           <div class="col-lg-1">

                           </div>
                        </div>


                    </div>
                    <div class="col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                    <div class="" ng-repeat="comment in comments[item.ID]">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img style="max-height: 50px" class="img-thumbnail" ng-src="{{comment.Gravatar}}">
                                    </div>
                                    <div class="col-lg-6">
                                        {{comment.FirstName}}
                                        {{comment.SecondName}}
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-10">
                                <div class="row">
                                    <label class="label label-info">
                                        {{comment.CommentType}}
                                    </label>
                                </div>
                                <div class="row" ng-bind-html="comment.CommentBody"></div>
                                <div class="row">{{comment.CommentToURL}}</div>
                            </div>
                        </div>

                        <hr>
                    </div>
                    <button class="btn btn-default btn-sm" ng-click="Comment(item)">
                        {{Page.Sprints.Comment}}
                        <label class="label label-info">
                            <span class="glyphicon glyphicon-plus">

                            </span>
                        </label>
                    </button>
                    </div>
                    </div>
            </div>
        </div>

    </div>

</div>