<ul class="nav nav-pills nav-stacked ">
    <li class="{{Menu.ProjectActive | MenuActiveFilter}}" >
        <a href="#/Tasks" class="a-style-black">
            <span class="glyphicon glyphicon-th-list"></span>
            {{Page.Menu.LeftMenu.Projects}}
        </a>
    </li>
    <li class="{{Menu.TreeActive | MenuActiveFilter}}">
        <a href="#/Tree" class="a-style-black">
            <span class="glyphicon glyphicon-tree-conifer"></span>
            {{Page.Menu.LeftMenu.Tree}}
        </a>
    </li>
    <li class="{{Menu.RoomActive | MenuActiveFilter}}">
        <a href="#/Room" class="a-style-black">
            <span class="glyphicon glyphicon-briefcase"></span>
            {{Page.Menu.LeftMenu.PersonalRoom}}
        </a>
    </li>
    <li class="{{Menu.inWorkActive | MenuActiveFilter}}">
        <a href="#/TasksInTheWork" class="a-style-black">
            <span class="glyphicon glyphicon-screenshot"></span>
            {{Page.Menu.LeftMenu.inWork}}
        </a>
    </li>
    <li class="{{Menu.ViewSprints | MenuActiveFilter}}">
        <a href="#/Sprints" class="a-style-black">
            <span class="glyphicon glyphicon-repeat"></span>
            {{Page.Menu.LeftMenu.Sprints}}
        </a>
    </li>
    <li class="{{Menu.ViewUsers | MenuActiveFilter}}">
        <a href="#/SystemUsers" class="a-style-black">
            <span class="glyphicon glyphicon-user"></span>
            {{Page.Menu.LeftMenu.SystemUsers}}
        </a>
    </li>
    <li class="{{Menu.ViewMessages | MenuActiveFilter}}">
        <a href="#/Messages" class="a-style-black">
            <span class="glyphicon glyphicon-comment"></span>
            {{Page.Menu.LeftMenu.Messages}}
        </a>
    </li>
    <li class="{{Menu.ViewGroups | MenuActiveFilter}}">
        <a href="#/Groups" class="a-style-black">
            <span class="fa fa-users"></span>
            {{Page.Menu.LeftMenu.ScrumblerGroups}}
        </a>
    </li>
    <li class="{{Menu.ViewEvents | MenuActiveFilter}}">
        <a href="#/Events" class="a-style-black">
            <span class="glyphicon glyphicon-bullhorn"></span>
            {{Page.Menu.LeftMenu.Events}}
        </a>
    </li>
    <li class="{{Menu.CompanyActive | MenuActiveFilter}}">
        <a href="#/Companies" class="a-style-black">
            <span class="glyphicon glyphicon-flag"></span>
            {{Page.Menu.LeftMenu.Companies}}
        </a>
    </li>
    <li class="{{Menu.ViewTemplate | MenuActiveFilter}}">
        <a href="#/Template" class="a-style-black">
            <span class="fa fa-gavel"></span>
            {{Page.Menu.LeftMenu.Template}}
        </a>
    </li>
    <li class="{{Menu.ViewSettings | MenuActiveFilter}}">
        <a href="#/Settings" class="a-style-black">
            <span class="glyphicon glyphicon-cog"></span>
            {{Page.Menu.LeftMenu.Settings}}
        </a>
    </li>
</ul>

