<div class="well">
    <div class="row">
        <div class="col-lg-8">
            <form class="form-horizontal" ng-model="task" ng-submit="Submit(task)">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="Name">{{Page.CreateTask.Name}}</label>
                    <div class="col-lg-10">
                        <input type="text" id="Name" class="form-control" ng-model="task.Name" placeholder="{{Page.CreateTask.Name}}" ng-click="GetTree()" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="Dependence">{{Page.CreateTask.Dependence}}</label>
                    <div class="col-lg-10">
                        <select class="form-control" ng-model="task.Dependence" id="Dependence" ng-init="task.Dependence=''">
                            <option ng-repeat="item in TreeList" value="{{item.ID}}">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="ScrumblerGroup">{{Page.CreateTask.ScrumblerGroup}}</label>
                    <div class="col-lg-10">
                        <select class="form-control" ng-model="task.ScrumblerGroup" id="ScrumblerGroup" required="">
                            <option ng-repeat="item in groups" value="{{item.ID}}">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">{{Page.CreateTask.Weight}}</label>
                    <div class="col-lg-10">

                       <label class="col-lg-12" ><span class="{{task.TaskWeight | TaskWeightTypes}} pull-left form-control">{{Page.CreateTask.Types[task.TaskWeight]}}</span></label>
                       <input type="range" class=" " min="1" max="6" step="1" ng-model="task.TaskWeight">


                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" >{{Page.CreateTask.isOpenSource}}</label>
                    <div class="col-lg-1">
                        <input type="checkbox" ng-true-value="1" ng-false-value="0" class="form-control" ng-model="task.isOpenSource" ng-init="task.isOpenSource='1'">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="ScrumblerGroup">{{Page.CreateTask.Tags}}</label>
                    <div class="col-lg-10">
                        <tags-input ng-model="task.Tags" on-tag-removed="DeleteTag($tag)" on-tag-added='AddTag($tag)' min-length="1">
                            <auto-complete source="LoadTags($query)" min-length="1" debounce-delay="0"></auto-complete>
                        </tags-input>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="col-lg-2 control-label" >{{Page.CreateTask.CommentBody}}</label>
                    <div class="col-lg-10" ng-if="!createTask">
                        <text-angular ng-model="task.CommentBody"></text-angular>
                    </div>
                    <div class="col-lg-10" ng-if="createTask">
                        <button ng-click="CreateTechnoDoc(Annotation,Targets,Sources,SourceTexts)" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"> </span>
                            <span class="glyphicon glyphicon-book"></span>
                        </button>

                        <div ng-bind-html="Annotation"></div>
                        <hr style="margin: 5px">

                        <ul>
                            <li ng-repeat="item in Targets">{{item.Target}}</li>
                        </ul>

                        <hr style="margin: 5px">

                        <ul>
                            <li ng-repeat="item in Sources"><a href="{{item.URL}}">{{item.Title}}</a></li>
                        </ul>
                        <hr style="margin: 5px">

                        <div ng-repeat="item in SourceTexts">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{item.Title}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div ng-bind-html="item.Description"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{item.Body}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="ViewMasterProject">
                    <label class="col-lg-4 control-label" for="isMaster">{{Page.CreateTask.MasterProject}}</label>
                    <div class="col-lg-1">
                        <input type="checkbox" id="isMaster" class="form-control" ng-model="task.isMaster">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-success">{{Page.CreateTask.ButtonSuccess}}</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    {{Page.CreateTask.SearchTask}}
                </div>
                <hr>
            </div>
            <div class="" ng-repeat="item in trees | filter:{'Name':task.Name}" ng-click="SetShowItems($index,trees)" ng-show="item.filter">

                <div class="row " >
                    <div class="col-lg-7 ">
                        <div ng-bind-html="item.Name | TreesFilter:item.SSN  ">

                        </div>
                    </div>
                    <div class="col-lg-1">
                        <span ng-if="item.isHited" class="glyphicon glyphicon-ok"></span>
                    </div>


                </div>

                <hr style="margin: 5px">
            </div>

        </div>
    </div>

</div>