<div class="row">
    <div class="col-lg-3">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="SearchText">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
    </div>
    <div class="col-lg-3">
        <a href="#/CreateGroup" class="btn btn-default">{{Page.Groups.Add}}</a>
    </div>
    <div class="col-lg-3">
        <div class="input-group">
            <select class="form-control" ng-model="FilterName">
                <option value="">Сортиовать по</option>
                <option value="Name">Названию</option>
            </select>
      <span class="input-group-btn" ng-init="reverse=0">
                <button class="btn btn-default {{FilterName|FilterDisabled}} " ng-click="reverse=!reverse">
                    {{Page.Groups.Sorting}}
                    <label class="label label-info">
                        <span class="{{reverse | TargetSorting }}"></span>
                    </label>
                </button>
      </span>
        </div>

    </div>

</div>
<br>

<div ng-model="activeTab" bs-tabs="tabs" ng-init="SetActiveTabs()">
</div>
